@media(max-width: $screen-md-max){
	
}
@media(max-width: $screen-xs-max){
	
}
@media(max-width:$screen-xs){
	h1{
		font-size:2em;
	}
	hr{
		margin-bottom:0;
	}
}

/*Buttons*/
.home-login{
	width:15em;
	margin:0 auto;
	&:hover{
		color:#FFF;
	}
}

/*Home*/
body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	color: #B0BEC5;
	display: table;
	font-weight: 100;
	font-family: 'Lato';
}

.container {
	text-align: center;
	display: table-cell;
	vertical-align: middle;
}

.content {
	text-align: center;
	display: inline-block;
}

.title {
	font-size: 96px;
	margin-bottom: 0;
	@media(max-width: $screen-xs-max){
		font-size:4em;
	}
	@media(max-width:$screen-xs){
		font-size:3em;
	}
}

.quote {
	font-size: 24px;
}

/*Forms*/

.form-container{
	form{
		.form-group{
			label{
				float:left;
				color:#000;
				font-size:1.2em;
			}
			input, textarea{
				font-size: 1.2em;
    			padding: 1.2em 1em;
    			border-radius:0;
    			&:active, &:focus{
    				outline:0;
    				outline-color:none;
    				border-color: #888;
    				box-shadow:none;
    			}
			}
			input[type="submit"]{
				padding:inherit;
			}
		}
	}
}

/*Profile*/
.profile-picture{
	border-radius:10em;
}